<!doctype html>

<html>
<head>
<title>mystyle.css</style>
<style>
body{
    background-color:B8B8B8;
}
h1{
    text-align:left;
}
p {
    background-color:900000;
}
#wrapper{
    width:960 px;
    margin:0 auto;
}
</style>
</head>
</html>
