html{
    margin:10px;
    padding:10px;
}

body{
    font-family: 'baskerville', 'palatino linotype', 'serif';
    text-align:center;
}

h1{
    text-align:center;
}

h2{
    text-align:left;
}
p {
    text-align:left;
}

ul {
  border: 100px solid #69b;
  padding-right:1em;
}

#warning { color:red; font-size:48px; }
