body{
	text-align:center;
	display:block;
}

h1{
	text-align:right;
	font-size:12px;
	display:block;
}

p{
	background-image:url(omfgdogs.gif);
	min-width:992px;
	display:block;
}

@media only screen and (max-width:991px) {
	h1{display:block;}
	p{ display:none; }
	body{ display:block; }
}

